 
 
/* .app {
  position: relative;
  padding: 0;
  padding: 0;
} */


  .grid-stack-item-content {
    background-color: #3498db; /* Change this to your desired color */
    color:white; /* Text color */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px; /* Rounded corners */
  }

 
